/*VARIABLES*/
/*Branding color*/
/* $MIXINS */
/* BUTTON */
.btn {
  display: inline-block;
  color: white;
  background-color: #ea83ee;
  line-height: 2.5;
  border-radius: 3px;
  font-size: 24px;
  text-decoration: none; }
  .btn__icon {
    font-size: .6em; }
  .btn.btn--info {
    background-color: #42b8dd; }

/*LINKS*/
/*TIPOGRAFIAS*/
table tr:hover {
  background: #dbd879; }

section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 24px;
  background-color: blue;
  background-color: #bfbfbf; }
  @media screen and (min-width: 800px) {
    section {
      background: red; } }

.max-width--huge {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 24px; }

header {
  background-color: #ea83ee; }
